:root {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
li,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #BB55CC;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.header__title {
    margin-bottom: 33px;
    padding-top: 10px;
    text-align: center;
    font-size: 38px;
}

.header-title span {
    font-style: italic;
    color: #DD2000;
}